In [1]:
a = 10
b = 5
if a < b:
    print(True)
elif a == b:
    print(True)
else:
    print(False)

False

In [3]:
a = 10
b = 15
if a < b:
    print('1:True')
elif a == b:
    print('2:True')
else:
    print(False)

1:True

In [4]:
for k in [0, 1, 2, 3, 4, 5]:
    print(k)

0
1
2
3
4
5

In [5]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    print(k)

0
1
2
3
4
5

In [7]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k % 2 == 0:
        print(k)

0
2
4

In [8]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k == 3:
        print(k)

3

In [9]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if k == 3:
        break
    print(k)

0
1
2

In [10]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if 2 <= k and k <= 4:
        print(k)

2
3
4

In [18]:
my_list = [0,1,2,3,4,5]
for k in my_list:
    if 2 > k or k > 4:
        continue
    print(k)

2
3
4

In [19]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i == 'okinawa':
        print(i)

okinawa

In [20]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i != 'tokyo':
        print(i)

okinawa
osaka
fukuoka
hokkaido

In [21]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if len(i) >= 6:
        print(i)

okinawa
fukuoka
hokkaido

In [24]:
for k in range(11):
    print(k)

0
1
2
3
4
5
6
7
8
9
10

In [25]:
for k in range(11):
    if k == 4:
        break
    print(k)

0
1
2
3

In [26]:
for k in  range(11):
    if k != 3:
        continue
    print(k)

3

In [27]:
my_str = 'okinawa'
for k in my_str:
    print(k)

o
k
i
n
a
w
a

In [29]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for k in my_list:
    print(k.upper())

OKINAWA
TOKYO
OSAKA
FUKUOKA
HOKKAIDO

In [40]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for k in my_list:
    for L in k:
        print(L)

o
k
i
n
a
w
a
t
o
k
y
o
o
s
a
k
a
f
u
k
u
o
k
a
h
o
k
k
a
i
d
o

In [41]:
a = 0
while a < 10:
    if a % 2 == 0:
        print(a)
    a += 1

0
2
4
6
8