In [14]:
if 'a' == 'a':
    print('True')

True

In [7]:
if 1 == 1:
    print('True')

True

In [13]:
if 'a' != 'b':
    print('False')

False

In [15]:
if 1 != 2:
    print('False')

False

In [16]:
if 5 > 1:
    print('True')

True

In [17]:
if 20 >= 2:
    print('True')

True

In [18]:
if 3 < 5:
    print('True')

True

In [22]:
n = 5
if n > 6:
    print('True')
else:
    print('False')

False

In [24]:
n = 10
if n < 3:
    print('True')
else:
    print('False')

False

In [25]:
n = 60
if n <= 6:
    print('True')
else:
    print('False')

False

In [58]:
if 1 == 1 and 2 == 2:
    print('True')

True

In [44]:
if 10 or 5:
    print('True')

True

In [52]:
if not 2 == 1:
    print('True')

True

In [63]:
n = 0
if n == 1 and 2 == 2:
    print('True')
else:
    print('False')

False

In [64]:
n = 0
if n == 1 or n == 2:
    print('True')
else:
    print('False')

False

In [65]:
if not 2 == 2:
    print('True')
else:
    print('False')

False

In [34]:
if 'a' in ['a', 'b', 'c']:
    print('True')

True

In [41]:
if 'a' in ['b', 'c', 'd']:
    print('True')
else:
    print('False')

False

In [69]:
if 1 is 1:
    print('True')

True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-69-9de873ff2dbb>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if 1 is 1:

In [73]:
if 1 is 2:
    print('True')
else:
    print('False')

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-73-81991bf57876>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if 1 is 2:

In [74]:
n = 0
if n + 1 == 0:
    print('True')
elif n * 1 == 1:
    print('True')
else:
    print('False')

False

In [76]:
n = 5
if n % 3 == 0:
    print('True')
elif n * 1 == 0:
    print('True')
else:
    print('False')

False

In [77]:
for i in [0, 1, 2, 3, 4, 5]:
    print(i)

0
1
2
3
4
5

In [78]:
my_list = [0, 1, 2, 3, 4, 5]
for i in my_list:
    print(i)

0
1
2
3
4
5

In [79]:
for i in my_list:
    if i % 2 == 0:
        print(i)

0
2
4

In [83]:
for i in my_list:
    if i % 2 != 0:
        print(i)

1
3
5

In [84]:
for i in my_list:
    if i == 3:
        print(i)

3

In [85]:
for i in my_list:
    if i != 3:
        print(i)

0
1
2
4
5

In [86]:
for i in my_list:
    if 2 <= i <= 4:
        print(i)

2
3
4

In [88]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i == 'okinawa':
        print(i)

okinawa

In [89]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i != 'tokyo':
        print(i)

okinawa
osaka
fukuoka
hokkaido

In [91]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if len(i) >= 6:
        print(i)

okinawa
fukuoka
hokkaido

In [97]:
my_list = [0,1,2,3,4,5]
n = 0
for i in my_list:
    n += i
print(n)

15

In [98]:
my_list = [0,1,2,3,4,5]
n = 0
for i in my_list:
    if i % 2 == 0:
        n += i
print(n)

6

In [101]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [105]:
for i in range(0, 10):
    if i == 4:
        break
    print(i)

0
1
2
3

In [106]:
for i in range(0, 10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [107]:
my_str = 'okinawa' 
for i in list(my_str):
    print(i)

o
k
i
n
a
w
a

In [118]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    print(i.upper())

OKINAWA
TOKYO
OSAKA
FUKUOKA
HOKKAIDO

In [119]:
a = 0
while a <= 10:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9
10

In [122]:
a = 0
while a <= 10:
    a += 1
    if a % 2 ==0:
        print(a)

2
4
6
8
10

In [126]:
f = open('Hello.txt','w')
f.write('Hello!!')
f.close()

In [127]:
f = open('Hello.txt','r')
print(f.readlines())

['Hello!!']

In [130]:
with open('Hello.txt','w') as f:
    f.write('Hello Python!!')

In [131]:
with open('Hello.txt','r') as f:
    print(f.readline())

Hello Python!!

In [134]:
with open('Hello.txt','r') as f:
    my_list = f.readline()